#page-login-content {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
}

#page-login-criar {
  font-size: 14px;
  margin-top: 24px;
  color: #6c6c80;
  text-align: center;
}

#page-login-criar a {
  font-size: 14px;
  font-weight: 600;
  color: rgb(130, 87, 230);
  margin: 8px 0px 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease 0s;
  align-self: flex-start;
}