.dragon_card {
    position: relative;
    display: block;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    background: var(--background-color-card);
}

.dragon_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.dragon_social ul {
    list-style: none;
    padding: 0;
}

.dragon_social ul li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}

.dragon_social ul li:hover {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);
}

.dragon_social ul li i {
    font-size: 19px;
    cursor: pointer;
}

.blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
    width: 80%;
    background-position: -100% 10% !important;
}

.dragon_card:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
}

.dragon_header {
    position: relative;
    padding: 25px;
    height: 80%;
}

.dragon_header h1 {
    color: #fff;
    font-weight: 400;
    white-space: wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dragon_header h4 {
    color: #9ac7fa;
    font-weight: 400;
    white-space: wrap !important;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

@media screen and (max-width: 300px) {
    .dragon_card {
        width: 95%;
        height: auto;
    }
    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }
}

.ave_back {
    background: url('../../assets/dragon-background.jpg');
}