.container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}