:root {
  --primary-color: rgb(130, 87, 230);
  --title-color: rgb(130, 87, 230);
  --text-color: rgb(130, 87, 230);
  --hover-color: #6c63ffd6;
  --background-color: rgb(18, 18, 20);
  --background-color-card: rgb(32, 32, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  margin: 0;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}